<p>Details of Adventure</p>

<ul>
  <li><%=@visit.city_name%></li>
  <li> <%=@visit.country_name%></li>
  <li><%=@visit.start_date%></li>
  <li><%=@visit.end_date%></li>
<li><%=@visit.review%></li>

</ul>
<!-- delete function and edit function -->
