<h1>Details of Adventure</h1>

<form method="post" action="/visit/<%= @visit.id %>/delete">

  <p>City: <%=@visit.city_name%></p>
  <p>Country: <%=@visit.country_name%></p>
  <p>Start Date: <%=@visit.start_date%></p>
  <p>End Date: <%=@visit.end_date%></p>
  <p>Review: <%=@visit.review%></p>


<input type="submit" value="Delete Adventure">
</form>


<form method="get" action="/visit/<%= @visit.id %>/edit">
<input type="submit"  value="Edit Adventure">
</form>

<form method="get" action="/city">
<input type="submit"  value="Adventure done">
</form>

<form method="get" action="/visit">
<input type="submit"  value="Back to travels">
</form>
